<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.edon.stutility">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Stutility">
        <activity
            android:name=".TodoActivity"
            android:parentActivityName=".MainActivity"
            android:label="Todo List"
            android:exported="true" />
        <activity
            android:name=".SchedulePreviewActivity"
            android:exported="true"
            android:label="@string/timetable_act"
            android:parentActivityName=".Timetable" />
        <activity
            android:name=".TimetableHelpActivity"
            android:exported="true"
            android:label="@string/timetable_act"
            android:parentActivityName=".Timetable" />
        <activity
            android:name=".EditCourseNameActivity"
            android:exported="true"
            android:label="@string/timetable_act"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".NewScheduleActivity"
            android:exported="true"
            android:label="@string/timetable_act"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterCoursesActivity"
            android:exported="true"
            android:label="@string/timetable_act"
            android:parentActivityName=".Timetable"
            android:theme="@style/Theme.NoAppBarTtb" />
        <activity
            android:name=".NewEditNoteActivity"
            android:exported="true"
            android:label="@string/notes_act"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".OtherELearningActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".BrowserActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustResize" /> <!-- android:theme="@style/Theme.NoAppBar" -->
        <activity
            android:name=".GPAHelpActivity"
            android:exported="true"
            android:label="@string/calc_act"
            android:parentActivityName=".CalculateGPA" />
        <activity
            android:name=".Result"
            android:exported="true"
            android:label="@string/calc_act"
            android:parentActivityName=".CalculateGPA" />
        <activity
            android:name=".NotesActivity"
            android:exported="true"
            android:label="@string/notes_act"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CalculateGPA"
            android:exported="true"
            android:label="@string/calc_act"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Timetable"
            android:exported="true"
            android:label="@string/timetable_act"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.NoAppBarTtb" />
        <activity
            android:name=".About"
            android:exported="true"
            android:label="@string/about_act"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.NoActionBarTheme2" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.NoActionBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>